body{
  background-color: cornsilk;
  
}

form{
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 10px;
}

.listing-img{
  width: 30vw;
  border-radius: 10px;
  margin: 10px;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  text-align: center;
}
