<%- include('../partials/head') %>

  <h1 class="text-center">Add a List</h1>
  <form action="/listings" method="post">

    <Label for="title">Title:</Label>
    <input type="text" id="title" name="title">

    <label for="description">Description:</label>
    <textarea name="description" id="description"></textarea>

    <label for="price">Price:</label>
    <input type="text" name="price" id="price">

    <label for="image">Image URL:</label>
    <input type="text" class="img" id="image" name="image">

    <button type="submit">Create a List</button>

  </form>
</body>
</html>